<%= image_tag @user.avatar, {id: "avatar"}%>

<h1><%= @user.name %></h1>
<h3><%= @user.username %></h3>

<h4><%= @user.company %></h4>
<h4><%= @user.location %></h4>
<h4>Joined on <%= @user.joined_at%></h4>

<p><%= @user.followers%> Followers <%= @user.following%> Following</p>

<p><%= @repository.repository_name %></p>
<p><%= @repository.repository_description %></p>
<p><%= @repository.repository_updated_at %></p>
