<h1>Profile</h1>

<%= image_tag @user.avatar %>

<p><%= @user.name %></p>
<p><%= @user.username %></p>

<p><%= @user.company %></p>
<p><%= @user.location %></p>

<p><%= @user.joined_at%></p>

<p><%= @user.followers%></p>
<p><%= @user.following%></p>
